.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 40%, #f7944d);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  padding: 0.25rem;
}

input {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-color: white;
  margin: 0.25rem;
}

.link-btn {
  border: none;
  background: none;
  text-decoration: underline;
  color: white;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 0.25rem;
}
